input {
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.btn,
.btn-close {
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

input:focus {
    border-color: #6c757d !important;
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.rdrDateRangePickerWrapper {
    display: flex !important;
}

@media (max-width: 600px) {
    .rdrDateRangePickerWrapper {
        flex-direction: column !important;
    }

    .rdrMonthsVertical {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}